body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  margin: 0 auto;  
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.header-container {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 28px;
  margin: 20px 0 20px 20px;
  font-weight: 500;
}

.banner-container {
  background: url("https://i.imgur.com/3e2JiwP.png");
  background-size: cover;
  background-position: center;
  height: 475px;
}

/* Div for Filter and Results Section  */

.aside-main-container {
  display: flex;
  flex-direction: row;
}

/* Filter  */

.filter-container {
  background-color: #F1F0F0;
  margin: 30px;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 1px 3px 5px 1px #F79208;
  border: 1px solid #e0e0e0;
  min-width: 197px;
}

h3 {
  font-size: 24px;
}

hr {
  border-top: 1px solid #ccc; 
}

.distance-title,
.surface-title {
  margin-bottom: 5px;
}

.distance-container,
.surface-container { 
  padding: 10px;
  line-height: 40px;
}

.distance-selector {
  width: 100%;
  font-size: 14px; 
  padding: 10px 5px;
  border-radius: 2px;
  cursor: pointer;
  background-color: #F7F7F6;
  color: gray;
  border: 1px solid #e0e0e0;
  font-family: 'Quicksand', sans-serif;
  box-shadow: 1px 3px 5px 1px #e0e0e0;
}

.distance-selector:hover, 
.sort-selector:hover,
.units-selector:hover {
  background-color: #E8E8E6;
}

.surface-checkbox {
  cursor: pointer;
  width: 18px;
  height: 18px;
}

.filter-button,
.clear-button {
  width: 100%;
  margin: 18px 0 10px 0;
  font-size: 18px; 
  padding: 10px 25px;
  border-radius: 2px;
  cursor: pointer;
}

.filter-button {
  background-color: #F79208;
  color: white;
  border: 1px solid #FD9302;
}

.filter-button:hover {
  background-color: #FBB130;
}

.clear-button {
  background-color: #F7F7F6;
  color: gray;
  border: 1px solid #e0e0e0;
  margin: 5px 0 10px 0;
}

.clear-button:hover {
  background-color: #E8E8E6;
}


/* Results Section */

main {
  width: 80%;
  margin: 25px;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
}

.results-header-container {
  display: flex;
  flex-direction: row;
}

.results-title {
  flex-grow: 1;
}

.sort-unit-container {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.units-container {
  padding: 25px;
}

.sort-selector,
.units-selector {
  font-size: 14px;
  padding: 10px 8px;
  border-radius: 2px;
  cursor: pointer;
  background-color: #F7F7F6;
  color: black;
  border: 1px solid #e0e0e0;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  box-shadow: 1px 3px 5px 1px #e0e0e0;
}

.no-result-title,
.no-result-text {
  text-align: center;
}

.results-section {
  display: flex;
  flex-direction: column;
}

.result-card {
  display: flex;
  flex-direction: column;
  margin: 20px;
  background-color: #F1F0F0;
  border: 1px solid #e0e0e0;;
  border-radius: 3px;
  cursor: pointer;
}

.result-color-green {
  box-shadow: 1px 2px 3px 1px #08F745;
}

.result-color-blue {
  box-shadow: 1px 2px 3px 1px #08BAF7;
}

.result-card:hover {
  background-color: #E8E8E6;
}

.result-row1 {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.result-row2 {
  flex-grow: 1;
  font-style: italic;
}

.result-distance {
  flex-grow: 1;
  padding-right: 50px;
  white-space: nowrap;
}

.result-surface {
  flex-grow: 1;
  padding-left: 50px;
}

.result-row3 {
  flex-grow: 3;
}

.result-heading {
  flex-grow: 3;
  padding-left: 50px;
  font-weight: 500;
}

.result-description {
  padding-left: 50px;
  padding-right: 50px;
}

footer {
  margin: 10px 0 10px 10px;
  height: 75px;
  width: 100%;
  text-align: center;
} 

a:visited { 
  text-decoration: none; 
  color: #0000EE; 
}

a:hover { 
  text-decoration: none; 
  color: #0000EE; 
}


/* Mobile Media Query */
@media (max-width: 568px) {
  h1 {
    width: 75%;
    margin: auto;
  }

  .aside-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .banner-container {
    background-size: cover;
    height: 200px;
  }

  .filter-container {
    width: 75%;
    align-items: center;
  }

  .results-header-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .result-card {
    margin: 15px;
  }

  .result-row1 {
    display: flex;
    flex-direction: column;
  }

  /* .result-row1-distance {
    padding-left: 50px;
  }  */

  .result-row2 {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-style: italic;
  }

  .result-heading,
  .result-distance,
  .result-surface,
  .result-description {
    padding: 5px 15px;
    margin: 8px 3px;
  }

}




